/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* FONTS */

@font-face {
	font-family: 'chunk';
	src: url('/assets/fonts/chunkrethunk-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sever';
	src: url('/assets/fonts/severancethesequel_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {

	src: url();
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #d7e9fa;
	--red: maroon;
	--cyan: #0475a1;

}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	background-color: var(--color-background);
}


h1 {
	font-family: 'chunk';
	color: var(--red);

}

h2 {
	font-family: 'chunk';
}


p {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	;
}

a {
	text-decoration: none;

}

/* header */

header {
	/* display: flex; */
	background-color: var(--cyan);

}

header ul {
	display: flex;
}

header ul li {

	list-style: none;

}

header a img:first-of-type {

	width: 13vw;

}

header a {

	display: inline-block;
	font-family: 'chunk';
	text-transform: uppercase;
	padding: 1em;

}

/* eerste section */
section:first-of-type a {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-weight: 19px;
	text-transform: uppercase;

	padding: 1em 4.5em;
	margin-left:2em;
	color: var(--cyan);
	background-color: white;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	display: inline-block;
	transition: ease;
	transition-duration: 0.5s;

}

section:first-of-type a:hover {

	transform: rotate(5deg);
	/* transition:ease;
transition-duration: 0.5s; */
}

/* header p a {

	background-color:#1d1d1d;

} */

section:nth-of-type(2) {
	display: flex;

}

section:nth-of-type(2) article img {
	order: -1;
}


section:nth-of-type(4) {
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
}